.navbar.top {
	border-bottom: 0.1rem solid #00983a;
	margin-bottom: 0.5rem;
}

.status-waiting {
	font-size: 2.2em;
	border-radius: 0.2em;
	padding: 0.5em;
	background-color: #C7E1F3;
}

.status-approved {
	font-size: 2.2em;
	border-radius: 0.2em;
	padding: 0.5em;
	background-color: #7BFC91;
}

.status-rejected {
	font-size: 2.2em;
	border-radius: 0.2em;
	padding: 0.5em;
	background-color: #FC6464;
}

.status-postponed {
	font-size: 2.2em;
	border-radius: 0.2em;
	padding: 0.5em;
	background-color: #fac864;
}

.space-above {
	margin-top: 2em;
}

#adminnavbar {
	padding: .5rem 0;
	border-bottom: 0.1rem solid #00983a;
	margin-bottom: 1rem;
}

.candidates-hold td, td.candidates-hold {
	border-color: #fac864;
	background-color: #ffeeba;
}

.candidates-approved td, td.candidates-approved {
	border-color: #8fd19e;
	background-color: #c3e6cb;
}

.candidates-rejected td, td.candidates-rejected {
	border-color: #ed969e;
	background-color: #f5c6cb;
}

.stars {
	white-space: nowrap;
}

.star-color {
	color: #FC0;
}

#reason span {
	font-weight: bold;
}

.table-secondary.days td {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

.navbar-light .navbar-nav .nav-link {
	color: #007bff;
}

.navbar-nav>.active>a {
	background-color: #C0C0C0;
}

.hidden {
	display: none !important;
}

.autoresize {
	resize: none;
}